version: "3.8"
services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.1.0
    restart: always
    volumes:
      - uptime-kuma-data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  uptime-kuma-data:
